* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

::-webkit-scrollbar {
  display: none;
}

html {
  min-height: 100%;
  overflow-y: scroll;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: greyscale;
  text-rendering: optimizeLegibility;

}

@font-face {
font-family: suisse;
src: url("https://static.tumblr.com/6gxqfug/DgDqf8rvb/suisse.otf");
}

body {
  background-color: #000000;
  color: #fff;
  min-height: 100vh;
  font-family: suisse, Helvetica, sans-serif, "Helvetica Roman", Icons /*!System*/;
  overflow-y: scroll;
  overflow-x: hidden;
  font-weight: lighter;
  padding: 1rem;
  position: relative;
  line-height: 1.2;
}

p,
span {
  font-size: 1rem;
  text-align: center;
}

a {
  color: #ffffff;
}


a:hover { color: transparent;
  text-shadow: #ff0000 0 0 5px;
  text-decoration: none;}

.rotate {
  animation: rotation 8s infinite linear;
}

img {
  height: 250px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
